@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mapid { 
    height: 100vh;
    width: 100%; 
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

}

/* Navbar */

.ppp {
    
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    background-color: rgb(90,225,168);
    border-radius: 6px;
    padding-left: 0.8rem;
}


select {
    
    background-color: white;
    color: black;
    padding: 10px;
    padding-right: 10px;
    border-radius: 4px;
    right: 30px;
    border-left: rgb(207, 0, 0);
    
}

.modal-header{
    border-bottom: 2px solid white;
    align-content: center;
    text-align: center;
    
    
}

.modal-content {
    background-color: rgba(0, 28, 119, 0.781);
    color: #fff;
    border: 1px solid black;
}

.modal-dialog {
    padding-top: 80px;
    padding-bottom: 80px;
}

.leaflet-bar button{
    background-color: rgb(90,225,168);
    color: black;
    cursor: pointer;
    /* border: solid 1px rgb(245, 49, 49); */
}

.modalInfo{
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.788);
    padding-bottom: 7px;
    padding-left: 5px;
}

#modalP{
    padding-top: 10px;
}

#wiki img {
    float: left;
    margin-right: 7px;
}

.weatherTitle{
    text-align:left;
   
    font-size: 25px;
}

.weatherContainer img {
    align-content: center;
}

.weatherContainer {
    margin-left: 15px;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.weatherBar{
    
    display: flex;
    flex-direction: row;
    
    border-left: solid 1px white;
    border-top: none 0px white;
}

.weatherContainer img, .weatherTitle {
    position: relative;
    left: -10px;
}

.weather-modal-content {
    background-image: url('img/kisspng-inpaint-watermark-sky-5a6bbd67e46811.9334857315170102799356.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .ppp {
        display: none;
    }
    
}